{% extends 'App_Lakshabay/base.html' %}
{% load static %}
{% block content %}
<style>
.tabs_item {
  display: none;
  padding: 6px 12px;
  -webkit-animation: fadeEffect 1s;
  animation: fadeEffect 1s;
  animation: 0s linear 2.3s forwards delayedShow ;
}
</style>
            <section  id="menu" class="menu-area ptb-100">
                <div class="container">
                    <div class="section-title">
                        <span>Discover</span>
                        <h2>Our Special Food Item's</h2>
                    </div>
                    <div class="tab">
                    <ul class="tabs active">
                               {%for cat in menu_cat%}
                                <li>
                                <a class="tablinks" onclick="openCity(event, '{{ cat.menu_cat_id }}')">
                                    <i>
                                        <img src="{{ cat.file.url }}" width="30" height="30">
                                    </i>
                                    <h6>{{ cat }}</h6>
                                </a>
                            </li>
                        {% endfor %}
                        </ul>
                        <div class="tab_content">
                             {%for cat in menu_cat %}
                                <div id="{{ cat.menu_cat_id }}" class="tabs_item">
                                    <div class="row">
                                       {% for foo in  itm %}
                                            {% if foo.item_category == cat %}
                                                <div class="col-lg-6 col-md-12">
                                            <div  class="single-menu" >
                                                <div  class="food-menu-content">
                                                    <h3>{{ foo.item_name }} <span  class="menu-price">&#163;{{ foo.item_price }}</span></h3>
                                                    <p class="text-light">{{ foo.item_description }}</p>
                                                </div>
                                                <a class="cart-btn" href="{% url 'App_Order:item_ad' foo.item_id %}">Add to Cart</a>
                                            </div>
                                        </div>
                                            {% endif %}
                                       {% endfor %}
                                    </div>
                                </div>
                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="line-bg">
                    <img  src="{% static 'assets/img/line.png' %}" alt="line" /></div>
            </section>

<script>
function openCity(evt, cityName) {
  var i, tabcontent, tablinks;
  tabcontent = document.getElementsByClassName("tabs_item");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
</script>

{% endblock %}
