{% extends 'App_Lakshabay/base.html' %}
{% load static %}
{% block content %}
            <section  id="menu" class="menu-area ptb-100">
                <div class="container">
                    <div class="section-title">
                        <span>Failed Page</span>
                    </div>
                    <div class="alert alert-danger" role="alert">
<h4 class="alert-heading">Failed</h4>
  <p>Something went wrong, your payment is not completed . Please try again to complete your payment.</p>
</div>

                </div>
                <div class="line-bg">
                    <img src="{% static 'assets/img/line.png' %}" alt="line" /></div>
            </section>
{% endblock %}
